<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>965601402706-jmjk9ff9vaqojjsbbroer4fran801hrs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.965601402706-jmjk9ff9vaqojjsbbroer4fran801hrs</string>
	<key>API_KEY</key>
	<string>AIzaSyDrQBTKz4UeSgk34yjfb7TwrFoH8EGLdts</string>
	<key>GCM_SENDER_ID</key>
	<string>965601402706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterweek3.moviesApp</string>
	<key>PROJECT_ID</key>
	<string>fir-9dc6a</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-9dc6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965601402706:ios:f661938bbeef72d569248b</string>
</dict>
</plist>